<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
   <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SalajansBoyaMusteri.Properties.default" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <!--   <add name="DBEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-NGBOOPL\SQLEXPRESS;initial catalog=OTOTEKDB;persist security info=True;user id=sa;password=Tek12oto;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
      
      
    <add name="DBEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.0.141;initial catalog=OTOTEKDB;persist security info=True;user id=saltur;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;"
       providerName="System.Data.EntityClient" />

      -->
    
    <add name="DBEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.0.141;initial catalog=OTOTEKDB;persist security info=True;user id=saltur;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <SalajansBoyaMusteri.Properties.default>
      <setting name="VarsayilanYazici" serializeAs="String">
        <value>Canon MF6100 Series UFRII LT</value>
      </setting>
      <setting name="BarkodYazici" serializeAs="String">
        <value>Microsoft Print to PDF</value>
      </setting>
      <setting name="KameraAygiti" serializeAs="String">
        <value>USB 2.0 PC CAMERA,0</value>
      </setting>
      <setting name="Versiyon" serializeAs="String">
        <value>1.0</value>
      </setting>
      <setting name="YaziciIlkSayfa" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OtomatikGirisSayfasi" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OtomatikBarkodEtiketi" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OtomatikPaket" serializeAs="String">
        <value>Hepsi</value>
      </setting>
      <setting name="KameraCozunurluk" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OtomatikYapilanTestler" serializeAs="String">
        <value>True</value>
      </setting>
    </SalajansBoyaMusteri.Properties.default>
  </userSettings>
 </configuration>
